html, body, pre {
    font-family: Tahoma;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}
a{
    position: fixed;
    bottom: 15px;
    z-index: 100;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
a:hover{
    background: rgba(0,0,0,0.8);
}
#downloadM3U{
    right: 15px;
}
#downloadJSON{
    right: 180px;
}